.App {
  text-align: center;
  display: grid;
  grid-template-areas: 
  "header header"
  "selection history"
  "footer footer";
  row-gap: 150px;;
}
.header{
  grid-area: header;
}
.selection{
  grid-area: selection;
}
.history{
  grid-area: history;
}
.footer{
  grid-area: footer;
}


.selection-container{
  display: flex;
  width: 350px;
  flex-direction: column;
  row-gap: 20px;
}
.icons-area{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@keyframes beat-fade {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2); opacity: 0.5; }
  100% { transform: scale(1); opacity: 1; }
}

.beat-fade {
  animation-name: beat-fade;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}
.playing-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
  
}
.playing-icons{
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
