/* Styles for the main container */
.App {
  background: linear-gradient(to right, #4157d3 , #ef0b0b ); /* Gradient background */
  text-align: center;
  display: grid;
  grid-template-areas: 
    "header header"
    "title title"
    "selection selection"
    "history history"
    "footer footer";
  width: 900px;
  margin: 0px auto;
  border: 1px solid rgb(208, 208, 202);
  padding: 10px;
  color: #feffff; /* Text color */
  font-family: cursive; /* Header font */
  font-style: oblique;
}

/* Styles for rock selection */
.rock {
  color: #f3eded; /* Rock color */
}

/* Styles for paper selection */
.paper {
  color: #eaf0f2; /* Paper color */
}

/* Styles for scissor selection */
.scissor {
  color: #eaebf0; /* Scissor color */
}

/* Styles for buttons */
.buttons {
  text-align: center;
  margin-top: 50px;
}

/* Styles for the sub-title */
.sub-title {
  grid-area: title;
  margin: 50px;
}

/* Styles for the header */
.header {
  grid-area: header;
  font-size: 1.3rem;
}


/* Styles for the selection area */
.selection {
  grid-area: selection;
  font-size: 30px;
}

/* Styles for the history table */
.history tr:nth-child(even) {
  background-color: #feffff;
}

.history th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(30, 118, 242); /* Table header color */
  color: #ffffff; /* Table header text color */
}

.history td,
.history th {
  border: 1px solid #000000;
  padding: 8px;
}

/* Styles for the history container */
.history-container {
  grid-area: history;
  margin: 0 auto;
}

/* Styles for the footer */
.footer {
  grid-area: footer;
}

/* Styles for the selection container */
.selection-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
}

.playing-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

/* Styles for the icons area */
.icons-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Styles for the game container */
.game-container {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
 
}

/* Styles for the input field */
.player2Name {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  padding: 10px;
  justify-content: flex-end; /* Change to flex-start */
}

.text {
  padding: 5px;
  border-radius: 4px;
  border: none;
}


@keyframes beat-fade {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2); opacity: 0.5; }
  100% { transform: scale(1); opacity: 1; }
}

.beat-fade {
  animation-name: beat-fade;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}
.playing-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
  
}
.playing-icons{
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 15px;
}
